__pycache__/enemies.cpython-312.pyc
__pycache__/levelList.cpython-312.pyc
__pycache__/levelManager.cpython-312.pyc
__pycache__/player.cpython-312.pyc
*.pyc
*.pyc
.python-version

/__pycache__/
__pycache__/

